.container(ng-controller="nmAdsByUserCtrl")
    div(class="spacer inside-page")
        div(ng-include="'/partials/search/user-details'")                             
        div(ng-include="'/partials/search/user-latest-post'")
