.container(ng-controller="nmHomeCtrl")
    div(class="spacer inside-page")
        div(ng-include="'/partials/home/user-details'")                             
        div(ng-include="'/partials/home/user-latest-post'")
            