.container(ng-controller="nmChangePasswordCtrl")
    div(class="spacer inside-page")
        h2(class="title") Change Password
        form(class="login-register-box", name="changePasswordFrm", novalidate ng-submit="changePasswordFrm.$valid && changePassword()")
            div(class="form-group")
                label(for="email") Current Password
                input(type="password", class="form-control", name="currentpassword", placeholder="Current Password", ng-model="formData.currentPassword", required)  
            .spacer
                div(class="form-group")
                    label(for="password") New Password
                    input(type="password", class="form-control", name="newPassword", placeholder="Your Password", ng-model="formData.newPassword",ng-maxlength="16",
                        ng-minlength="6" required)
                    div(class="text-danger")
                        div(ng-messages="changePasswordFrm.newPassword.$error")
                            div(ng-message="minlength") Message must be over 6 characters
                            div(ng-message="maxlength") Message must not exceed 16 characters     
                div(class="form-group")
                    label(for="repassword") Confirm Password
                    input(type="password", class="form-control", name="repassword", placeholder="Confirm Password", ng-model="formData.rePassword",compare-to="formData.newPassword" required)
                    div(class="text-danger")
                        div(ng-messages="changePasswordFrm.repassword.$error")
                            div(ng-message="compareTo") Password do not match!
            .pull-right
                button(type="submit", class="btn btn-warning",ng-disabled="!changePasswordForm.$valid") Change Password
                | &nbsp;
                a.btn.btn-danger(href="/") Cancel