.container(ng-controller="nmForgotPasswordCtrl")
    div(class="spacer inside-page")
        h2(class="title") Forgot Password

        form(class="login-register-box", name="forgotPasswordFrm" novalidate ng-submit="forgotPasswordFrm.$valid && getMyPassword()")
            .well
                div(class="form-group")
                    label(for="email") Email
                    input(type="email", class="form-control", name="email", placeholder="Your Email", ng-model="formData.email" required)
                    div(class="text-danger")
                        div(ng-messages="forgotPasswordFrm.email.$error")
                            div(ng-message="required") required
                            div(ng-message="email") Please enter a valid email address    
                .pull-right
                    button(type="submit", class="btn btn-warning", ng-disabled="!forgotPasswordFrm.$valid") submit
                    | &nbsp;
                    a.btn.btn-danger(href="/") Cancel

                .spacer
                    | An email containing instructions on how to change your password would be sent to the email above.